{% extends "blog/base.html" %}
{% block title %}Compartir post{% endblock %}
{% block content %}
    {% if enviado %}
        <h1>Correo enviado exitosamente</h1>
        <p>
            "{{ post.titulo }}" fue enviado exitosamente a {{ form.cleaned_data.to }}.
        </p>
        <p><a href="{{ post.get_absolute_url }}">Volver al post</a></p>

    {% else %}
        <h1>Compartir "{{ post.titulo }}" por correo</h1>
        <p><a href="{{ post.get_absolute_url }}">Volver al post</a></p>

        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Enviar correo">
        </form>
    {% endif %}
{% endblock %}